.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img{
    aspect-ratio: 16/12;
}

.figure{
    border-radius:6px;
    overflow: hidden;
    position: relative;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding:  var(--pad-mw) var(--pad-half);
    
}

.card_title{
    font-size: var(--size-l);
}

.card_date{
    font-size: var(--size-s);
}