.img_container{
    animation: var(--ani-yappear);
    animation-fill-mode: forwards;
    display: flex;
    gap: var(--pad-main);
    width :100%;
    height: auto;
    white-space: nowrap;

    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-main4);
    border-radius: 10px;
    padding: var(--pad-mw);
}



